$grey: #3f3636;
$dark-grey: darken($grey, 6%);
$darkest-grey: darken($grey, 11%);
$light-grey: #787272;
$lightest-grey: #d8d7d7;

$white: #ffffff;

$dark-blue: #60ada9;
$mid-blue: #8fc5c3;
$light-blue: #71d5d4;
$lightest-blue: #cfe6e5;

$red: #ea7062;
