@import './_transition-timings.scss';

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity $page-transition-duration;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity $page-transition-duration;
}

.fade-height {
  // FIXME: This is a hack to avoid height changes from animating
  //        and could break layout.
  min-height: 100%;
}
