@import 'styles/colours';
@import 'styles/layout';
@import 'styles/transition-timings.scss';

@include wrapper-with-content(Body);

.Body {
  position: relative;
  overflow: hidden;
}

.Body__logo {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 50%;
  max-height: 50%;
  transform: translate(-35%, 30%);
  opacity: 0.2;
}

.Body__scrollarea {
  width: 100%;

  // react-scrollarea overrides
  &:hover .scrollbar-container {
    opacity: 1;
  }

  .scrollbar-container {
    width: 12px !important;
    opacity: 0.5;
    transition: all 0.4s, opacity $hover-transition-duration,
      background $hover-transition-duration;

    .scrollbar {
      transition: background $hover-transition-duration;
    }

    &:hover {
      background: none !important;
      opacity: 1;

      .scrollbar {
        background: $red !important;
      }
    }

    .scrollbar {
      width: 100% !important;
      background: $grey !important;
    }
  }
}

.Body__scrollarea__content {
  display: flex;
  justify-content: center;
}

.Body__content {
  padding: 0 18px;
}
