@import 'styles/colours';
@import 'styles/layout';
@import 'styles/transition-timings.scss';

@include wrapper-with-content(Body);

.Body {
  position: relative;
  overflow: hidden;
}

.Body__logo {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 50%;
  max-height: 50%;
  transform: translate(-35%, 30%);
  opacity: 0.2;
}

.Body__scrollarea {
  width: 100%;

  &:hover .Body__scrollarea__track {
    opacity: 1;
  }
}

.Body__scrollarea__view {
  display: flex;
  justify-content: center;
}

.Body__scrollarea__track {
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: $darkest-grey;
  cursor: pointer;
  transition: opacity $hover-transition-duration;

  &:hover,
  &.Body__scrollarea__track--active {
    .Body__scrollarea__thumb {
      background-color: $red;
    }
  }
}

.Body__scrollarea__track--horizontal {
  height: 8px !important;
}

.Body__scrollarea__track--vertical {
  width: 8px !important;
}

.Body__scrollarea__thumb {
  background-color: $grey;
  transition: background-color $hover-transition-duration;
}

.Body__content {
  padding: 0 18px;
}
