@import '../styles/_colours.scss';
@import '../styles/_layout.scss';

@include wrapper-with-content(Footer);

.Footer {
  background-color: $darkest-grey;
  padding: 10px;
}

.Footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer__contact-links {
  display: flex;
}

.Footer__contact-link {
  width: 48px;
  margin: 2px;
}

.Footer__copyright {
  margin-top: 5px;
}

.Footer__copyright-line {
  text-align: center;
}
