@import 'styles/colours';
@import 'styles/layout';

@include wrapper-with-content(Header);

.Header {
  background-color: $grey;
  padding: 5px;
}

.Header__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.Header__logo {
  width: 110px;
}

.Header__nav {
  display: flex;
  flex: 1;
  padding-bottom: 2px;
  justify-content: flex-end;
  text-align: right;
}

.Header__nav-spacer {
  flex: 1;
  min-width: 20px;
  max-width: 40px;
}

.Header__nav-link {
  font-size: 22px;

  &.Header__nav-link--active {
    color: $red;
  }
}
