@import 'styles/colours';
@import 'styles/layout';

@include wrapper-with-content(Header);

.Header {
  background-color: $grey;
  padding: 10px;
}

.Header__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.Header__logo {
  display: inherit;
  width: 110px;
}

.Header__spacer {
  flex: 1;
  min-width: 50px;
}

.Header__nav {
  display: flex;
  padding-bottom: 4px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: right;
}

.Header__nav-spacer {
  flex: 1;
  min-width: 20px;
  max-width: 30px;
}

.Header__nav-link {
  margin-top: 10px;
  font-family: Dosis, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1;

  &.Header__nav-link--active:not(:active):not(:focus):not(:hover) {
    color: $white;
  }
}
