@import 'styles/colours';

.IndexPage {
  display: flex;
  padding: 8px 0;
  flex-wrap: wrap;
}

.IndexPage__link {
  display: flex;
  width: 234px;
  height: 270px;
  margin: 10px;
  padding: 0 8px;
  background-color: $darkest-grey;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &:nth-child(5n + 4),
  &:nth-child(5n + 5) {
    $margin: 234px / -4;

    margin-top: $margin;

    &:not(:last-child) {
      margin-bottom: $margin;
    }
  }

  &:nth-child(5n + 4) {
    margin-left: 234px / 2 + 10px * 2;
  }
}

.IndexPage__link--has-image {
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  &:active,
  &:focus,
  &:hover {
    background-blend-mode: soft-light;
  }
}

.IndexPage__link__title {
  font-family: Dosis, sans-serif;
  font-weight: 400;
  font-size: 28px;
}
