@import "styles/colours";
@import "styles/transition-timings";

.Logo__text {
  fill: $white;
  transition: fill $hover-transition-duration;

  .Logo:hover & {
    fill: $red;
  }
}

.Logo__particle-left {
  fill: $light-blue;
}

.Logo__particle-right {
  fill: $dark-blue;
}
