@import 'styles/colours';
@import 'styles/transition-timings';

.Logo__text {
  opacity: 1;
  fill: $white;
  // Linear to match the logo scale.
  transition: opacity $hover-transition-duration;
}

.Logo__text--hidden {
  opacity: 0;
}
