@import '../styles/_colours.scss';
@import '../styles/_transition-timings.scss';

.LogoParticle__top-semicircle,
.LogoParticle__bottom-semicircle {
  transition: fill $hover-transition-duration;
}

.LogoParticle__top-semicircle {
  fill: $light-blue;
}

.LogoParticle__bottom-semicircle {
  fill: $dark-blue;
}

a {
  &:active,
  &:focus,
  &:hover {
    .LogoParticle__top-semicircle {
      fill: $red;
    }

    .LogoParticle__bottom-semicircle {
      fill: $dark-red;
    }
  }
}
