@import 'styles/colours';

.MarkdownPage .PDF--A4 {
  width: 100%;
  height: 700px;
}

.MarkdownPage__title--has-subtitle-or-date,
.MarkdownPage__subtitle--has-date {
  margin-bottom: 0;
}

.MarkdownPage__subtitle {
  margin-top: 8px;
  color: $dark-blue;
}

.MarkdownPage__date {
  text-align: center;
  color: $light-grey;
}
