@import 'styles/colours';
@import 'styles/layout';

.MarkdownPage {
  .PDF {
    width: 100%;
    max-height: 60vh;
  }

  .PDF--A4 {
    @include aspect-ratio(PDF__content, 210, 297);
  }

  .YouTube {
    @include aspect-ratio(YouTube__content, 16, 9);

    width: 100%;
  }
}

.MarkdownPage__title--has-subtitle-or-date,
.MarkdownPage__subtitle--has-date {
  margin-bottom: 0;
}

.MarkdownPage__subtitle {
  margin-top: 8px;
  color: $dark-blue;
}

.MarkdownPage__date {
  text-align: center;
  color: $light-grey;
}
