@import '../styles/_colours.scss';
@import '../styles/_layout.scss';

$narrow-image-min-width: 520px;

.MarkdownPage {
  // FIXME: A workaround to force Chrome to consider child margins.
  overflow: hidden;

  .PDF {
    width: 100%;
    max-height: 60vh;
  }

  .PDF--A4 {
    @include aspect-ratio(PDF__content, 210, 297);
  }

  .YouTube {
    @include aspect-ratio(YouTube__content, 16, 9);

    width: 100%;
  }
}

.MarkdownPage__title--has-subtitle-or-date,
.MarkdownPage__subtitle--has-date,
.MarkdownPage__links--has-tags {
  margin-bottom: 0;
}

.MarkdownPage__subtitle {
  margin-top: 8px;
  color: $dark-blue;
}

.MarkdownPage__date,
.MarkdownPage__links,
.MarkdownPage__tags {
  text-align: center;
  color: $light-grey;
}

.MarkdownPage__links {
  font-size: 22px;
}

.MarkdownPage__tags {
  display: flex;
  flex-direction: column;
}

.MarkdownPage__tag {
  font-style: italic;
  color: $lightest-grey;
}

.MarkdownPage__heading-image {
  @include media-min-width($narrow-image-min-width) {
    padding: 0 10%;
  }
}

.MarkdownPage__image {
  display: block;
  margin: auto;
}
