@import 'styles/colours.scss';

.ViewableImage {
  display: flex;
  justify-content: center;
}

.ViewableImage__image {
  cursor: pointer;
}

.ViewableImage__placeholder {
  padding: 40px;
  background-color: $darkest-grey;
}
