@import 'styles/colours';
@import 'styles/transition-timings';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark-grey;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: $white;
}

strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: Dosis, sans-serif;
  font-weight: 400;
  color: $lightest-blue;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

a {
  outline: none;
  text-decoration: none;
  transition: color $hover-transition-duration;

  &,
  &:link,
  &:visited {
    color: $light-blue;
  }

  &:active,
  &:focus,
  &:hover {
    color: $red;
  }
}

blockquote {
  font-style: italic;
  color: $lightest-grey;

  em {
    font-style: normal;
  }
}

#root {
  height: 100%;
}
