@import "styles/colours";
@import "styles/transition-timings";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark-grey;
  font-family: sans-serif;
  color: $white;
}

a {
  text-decoration: none;
  transition: color $hover-transition-duration;

  &, &:link, &:visited {
    color: $light-blue;
  }

  &:active, &:focus, &:hover {
    color: $red;
  }
}

#root {
  height: 100%;
}
